<!DOCTYPE HTML>
<!--
	VMware-vSenti
	@Linda Luo
-->
<html>
	<head>
		<title>VMware-vSenti</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
		<!--[if lte IE 8]><script src="assets/js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="assets/css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="assets/css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="assets/css/ie9.css" /><![endif]-->
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

		<!-- Optional theme -->
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

		<!-- Latest compiled and minified JavaScript -->
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

		<style>
		.col-main{
			height: 500px;
		}
		body {
			background-color: #dee1e5;
			padding-top: 5px;
		}
		.sub-button{
			height: 28px;
			width: 65px;
			margin-left: 4px;
            margin-right: 4px;
            font-size: 12px;
		}

		#footer {
			position: absolute;
		    bottom: -40px;
    		left: 13px;
		    width: 500px;
		    color: black;
		}
		</style>
	</head>
	<body>
		<p id="productIdStore" style="display:none" ><%= productId%></p>
		<div class="row">
			<div class="col-md-3"></div>
			<div class="col-md-9" style="padding-left:720px;">
				<img src="images/vmware-logo.png" alt="VMware Logo" style="width:130px;height:20px;">
			</div>
		</div>
		<br/>
		<div class="row">
			<div class="col-md-3 col-main">
				<!-- Header -->
				<header id="header">
					<h2>vSenti</h2>
					<br/>
					<p style="font-size:120%; color:black;">
	                    vSenti crawls data from VMware Forum and analyze sentiments across the conversations. <br/>
	                    More information
	                    <a href="https://communities.vmware.com/welcome">VMware Forum</a>.</p>
				</header>

				<!-- Signup Form -->
				<form id="signup-form" method="post" action="#">
					<input type="text" name="text" id="text" placeholder="Product Name" style="border: solid 2px rgba(255, 255, 255, 0.8);" />
          <input type="submit" id="searchButton" onclick="submitInput()"> </input>
        </form>
				<div>
						<button class="btn sub-button" type="submit" name="pSelector" id ="VSPHERE" value="VSPHERE">vSphere</button>
						<button class="btn sub-button" type="submit" name="pSelector" id ="NSX" value="NSX">NSX</button>
						<button class="btn sub-button" type="submit" name="pSelector" id ="VSAN" value="VSAN">vSAN</button>
				</div>

				<!-- Footer -->
				<footer id="footer" style="color:black;">
					<ul class="icons">
	                    <li><a href="https://github.com/girikuncoro/vsenti" class="icon fa-github"><span class="label">GitHub</span></a></li>
	                    <li><a href="https://github.com/girikuncoro/vsenti" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						<li><a href="https://github.com/girikuncoro/vsenti" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
						<li><a href="https://github.com/girikuncoro/vsenti" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
					</ul>
					<ul class="copyright">
						<li>&copy; VMware Inc.</li><li>Credits: <a href="https://github.com/girikuncoro/vsenti">Giri Kuncoro, Linda Luo, Manali Kumar, Sagar Muchhal</a></li>
					</ul>
				</footer>

				<!-- Scripts -->
				<script src="assets/js/main.js"></script>
			</div>

			<div class="col-md-9" id="chart_div" style="width: 900px; height: 500px; float:right"></div>
		</div>

<!-- <div id="chart_div"> </div> -->

		<script>
			var productIdMap = {
				VSPHERE: 1,
				NSX: 2,
				VSAN: 3
			}
			function getIdFromName(name) {
				name = name.toUpperCase()
				return productIdMap[name]
			}
			document.getElementById("searchButton").onclick = function () {
					input = document.getElementById("text").value;
					if(input!=null) input = input.toUpperCase()
					if (input == null || input.length == 0) {
						alert("Please choose a product!");
					} else if (input != "VSPHERE" && input != "VSAN" && input != "NSX") {
						alert("Current analysis is not available for this product! Please choose another one.");
					} else {
						generateCharts(getIdFromName(input))
					}
			};

			$(function() {
				var productId = $('#productIdStore').text()
				generateCharts(productId)

				$("button[name=pSelector]").click(function(){
					console.log($(this).val())
					var productId = getIdFromName($(this).val())
					generateCharts(productId)
				})
			});

			var generateCharts = function(productId) {
				$.get("api/time_series_data/"+productId+"/123", (data, status) => {
					console.log(data)
					var timeSeriesData = data.timeSeriesData
					var chartData = [
						['Week', data.product.name]
					]
					for(var i=0; i<timeSeriesData.length; ++i) {
						var inner = [];
						inner.push(timeSeriesData[i].weekNumber)
						inner.push(timeSeriesData[i].value)
						chartData.push(inner)
					}
					console.log('Created 2D array for charts')

					google.charts.load('current', {'packages':['corechart']});
					google.charts.setOnLoadCallback(function() {
						drawChart(chartData);
					});
				});
			}

			// Generate line chart
			function drawChart(chartData) {
				// var data = google.visualization.arrayToDataTable(recent_SentimentData);
				var data = google.visualization.arrayToDataTable(chartData);

				var options = {
					title: 'Sentiment Score',
					curveType: 'function',
					legend: { position: 'bottom' }
				};

				var chart = new google.visualization.LineChart(document.getElementById('chart_div'));

				chart.draw(data, options);
			}
		</script>
	</body>
</html>
